.container {
    padding: 48px;     
    height: 100%;    
}

.list-filter {    
    display: flex;
    justify-content: space-between;
    padding: 6.96px 0 12.84px;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
}

.list-filter h2 {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 31.2px; /* 173.333% */
    transition: all 0.2s;
}

.list-filter h2.fixed {    
    font-size: 18px;
}

.product-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    gap: 31px;
}

.control-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;    
    display: flex;
    align-items: center;
    gap: 7.68px;
}

.sort-dropdown {
    position: relative;
}

.sort-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    list-style-type: none;
    padding: 10px 0;
    min-width: 150px;
}

.sort-options.show {
    display: block;    
}

.sort-options li {
    padding: 10px 20px;
    cursor: pointer;
}

.sort-options li:hover {
    color: gray;
}

.list-container {
    display: flex; 
    height: 100%;
    padding-top: 15px;                       
}
.sidebar {
    width: 240px;
    height: 100%;
    overflow: scroll;
    position: sticky;
    top: 60px;
    padding-right: 40px;
    background: white;
}
.main-categories {
    padding-bottom: 30px;    
    border-bottom: 1px solid var(--E5E5E5, #E5E5E5);
}
.main-categories h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.main-categories ul {
    list-style-type: none;
}
.main-categories li {
    margin-bottom: 10px;
    color: var(--111111, #111);
font-family: "Noto Sans KR";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 21.6px; /* 135% */
}
.main-categories a {
    text-decoration: none;
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 21.6px; /* 135% */
}

.filter-category {
    padding: 30px 0;
    border-bottom: 1px solid var(--E5E5E5, #E5E5E5);
}

.filter-category:last-child {
    border-bottom: none;
}

.filter-category input {
    border-radius: 4px;
border: 1px solid var(--707072, #707072);
width: 20px;
height: 20px;
}

.filter-category h3 {    
    margin-bottom: 10px;
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}
.filter-category label {
    display: block;
    margin-bottom: 8px;
    color: var(--111111, #111);
font-family: "Noto Sans KR";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
}
.products {
    flex: 1;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);     
    gap: 6px;    
}
.product-card {
    text-decoration: none;
    color: #111;
}
.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-contents {
    padding: 12px 0 25px 0;
}

.product-title {
    color: #9E3500;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}
.product-subtitle {
    color: #111;
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.product-colors {
    color: var(--707072, #707072);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
.product-price {
    color: var(--111111, #111);
    font-family: "Noto Sans KR";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
}

@media (max-width: 768px) {
    .list-filter {
        position: static;
    }    
    .container {
        padding: 24px;
    }
    .product-controls {
        display: none;
    }
    
    .list-container {
        flex-direction: column;            
    }
    .sidebar {
        width: 100%;
        padding-right: 0;      
        position: static;  
    }
    .main-categories {
        overflow-x: auto;
        white-space: nowrap;  
        width: 100vw;
        margin-left: -24px;      
        padding-bottom: 14px;
    }
    .main-categories ul {
        display: flex;
    }
    .main-categories li {
        margin-right: 20px;
        margin-bottom: 0;
    }
    .main-categories li:first-child {
        margin-left: 24px;
    }
    .filter-category {
        display: none; 
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        width: 100vw;
        margin-left: -24px;
    }

    .product-contents {
        padding: 12px 0 25px 12px;
    }
}